@tailwind base;
@tailwind components;
@tailwind utilities;

button {all: unset;}
*{box-sizing: border-box;}
body::-webkit-scrollbar {display: none;}
body{
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh; 
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
  background-size:cover;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;}

div{
  display:flex;
  justify-content: center;
  align-items: center;
}

.SwitchRoot {
    width: 42px;
    height: 25px;
    background-color: black;
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
  }
  .SwitchRoot[data-state='checked'] {
    background-color: white;
  }
  
  .SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
  }
  .SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
    background-color: black;
  }
  

  .SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
    
  }
  
  .SliderTrack {
    background-color: tomato;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
  }
  
  .SliderRange {
    position: absolute;
    background-color: cyan;
    border-radius: 9999px;
    height: 100%;
  }
  
  .SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: cyan;
    box-shadow: 0 2px 10px tomato;
    border-radius: 10px;
  }
  .SliderThumb:hover {
    background-color: tomato;
  }
  .SliderThumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px tomato;
  }
  

  .ProgressRoot {
    position: relative;
    overflow: hidden;
    background: cyan;
    border-radius: 99999px;
    width: 300px;
    height: 25px;
  border: 2px dotted black;

    transform: translateZ(0);
  }
  
  .ProgressIndicator {
    background-color: tomato;
    width: 100%;
    height: 100%;
    transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
  }
  .cat{
    background-image: url('../../public/catImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
  }
